---
---

$primary-color: #8f001a;
$secondary-color: #2c2c2d;
$tertiary-color: #f2f2f2;
$transparent-bg: rgba(0, 0, 0, 0.2);


.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.tertiary-color {
    color: $tertiary-color;
}

.semi-transparent {
    color: $transparent-bg;
}
